{% extends 'base.html' %}
{% block body %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-primary" role="alert">
      {{message}}
    </div>
  {% endfor %}
{% endif %}

{% if user.is_authenticated %}
<div class="container mt-4 mb-4" align="center">
  <h2 class="mx-auto">All Available Quizzes : {{ available }}</h2>
  {% if user.is_superuser != True %}
  {% endif %}
</div>

{% if user.is_authenticated %}
<div class="container row mx-auto mt-4 row">
  <h2 class="mx-auto">Not Appeared : {{ no_not_appeared_quiz }}</h2>
  {% for quiz in all_not_appeared_quiz %}
  <div class="col col-lg-4 col-md-6 col-12 ">
    <div class="card m-4">
      <div class="card-body">
        <h5 class="card-title mb-4">{{ quiz.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Full Marks : 100        
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
          Pass Marks : {{ quiz.pass_marks }}
        </h6>
        <a href="/appearquiz/{{quiz.id}}" class="mr-3 btn btn-primary">START</a>


      </div>
    </div>
  </div>
  {% endfor %}


  <div class="col-12"></div>
  <h2 class="mx-auto">Appeared : {{ no_appeared_quiz }}</h2>
  {% endif %}
  {% for quiz in all_appeared_quiz %}  
  <div class="col col-lg-4 col-md-6 col-12 ">
    <div class="card m-4">
      <div class="card-body">
        <h5 class="card-title mb-4">{{ quiz.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Full Marks : 100        
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
          Pass Marks : {{ quiz.pass_marks }}
        </h6>
        <a href="/quizdetails/{{quiz.id}}" class="mr-3 btn btn-primary">VIEW</a>


      </div>
    </div>
  </div>
  {% endfor %}

  
</div>
{% else %}

<div class="container row mx-auto mt-4 row" align="center">
  <h3>Please Login to View the Quizzes.</h3>
</div>

{% endif %}
{% endblock %}

{% block script %}

{% endblock %}

